.text_holder {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.input_field {
  height: 600px;
  width: 800px;
  color: white;
  background-color: #28282a;
}
.display_holder {
  height: 600px;
  width: 800px;
  overflow: scroll;
  margin-left: 50px;
  color: white;
  background-color: #28282a;
}
.switch_button {
  height: 50px;
  width: 80px;
  color: white;
  margin-top: 200px;
  margin-left: 35px;
  background-color: #28282a;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.switch_button:hover {
  background-color: white;
  color: black;
}
.middle_holder {
  padding: 30px;
}
