.text_holder {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.input_field {
  height: 600px;
  width: 800px;
  color: white;
  background-color: #28282a;
}
.display_holder {
  height: 600px;
  width: 800px;
  overflow: scroll;
  margin-left: 50px;
  color: white;
  background-color: #28282a;
}
