.modal {
  font-size: 12px;
  outline: none;
}
.modal > .header {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 6px;
  color: white;
  font-weight: bold;
}
.modal > .content {
  width: 100%;
  height: 630px;
  background-color: #28282a;
  color: white;
  border: 5px solid white;
  padding: 10px 5px;
  font-size: 20px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -2px;
  top: 5px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/*=================
    NON OG CODE 
===================*/

#question_mark {
  color: white;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c30c15;
  outline: none;
  border: 1px solid #c30c15;
}
.link_tag {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
.red_star {
  color: red;
}
