html {
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
  outline: none;
  font-family: "Crimson Pro", serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c30c15;
  margin-bottom: 30px;
}
